
/*
 * green = links: #00b195
 * yellow = site title: #fcdd00
 * pink = titles, read-more and icons: #cf1789
 * blue = code block: #028ec7
 * white = text and hover links: #dbdbdb
 * dark black = code background: #1D1F21
 * light black = background: #292a2d
 * */

body { background: #292a2d; color: #dbdbdb; }
a { color: #dbdbdb; }
pre { background: #1D1F21; border: 1px solid #5C5C5C; border-radius: 5px; }
pre > code { color: white; }
.highlight pre { border: 1px solid #028ec7; }
p > code { color: #028ec7; padding: 2px 4px; border: 1px solid #028ec7; border-radius: 3px; }
.language-vim, .language-shell { color: #dbdbdb; background: #1D1F21; border: none; }
blockquote { background: #1D1F21; border-left: 3px solid #00b195; }
table { margin: 1em auto; border-collapse: collapse; }
table, th, td { border: 1px solid #5C5C5C; }
tr:hover { background: #1D1F21; }
th { background: #1D1F21; }
.siteTitle a { color: #fcdd00; }
.post .title { color: #00b195; }
.post .content h1 { color: #cf1789; }
.post .content h2 { color: #cf1789; }
.post .content h3 { color: #cf1789; }
.post .content h4 { color: #cf1789; }
.post .content h5 { color: #cf1789; }
.post .content h6 { color: #cf1789; }
.post .content a { color: #00b195; }
.post .content a:hover { color: #dbdbdb; }
.social-link:hover { color: #00b195; }
.nav-item-title:hover { color: #00b195; }
.tag a { color: #00b195; }
.tag a:hover { color: #dbdbdb; }
.copyright, .copyright a:hover { color: #dbdbdb; }
.copyright a{ color: #00b195; }
.poweredby { color: #404040; }
.poweredby a { color: #404040; }
.post-preview .title a { color: #00b195; }
.content-item a:hover { text-decoration: underline; color: #00b195; }
.post-list .title { color: #00b195; }
.rmore, .rmore a { color: #cf1789; }
.rmore:hover, .rmore a:hover { color: #dbdbdb; }
.terms .term a:hover { text-decoration: underline; color: #00b195; }
.social-links-footer a:hover { color: #00b195; }
.social-links-footer .github { color: #ffffff; }
.social-links-footer .twitter { color: #55acee; }
.social-links-footer .rss { color: #dd4b39; }
.fa-calendar-o { color: #cf1789; }
.fa-clock-o { color: #cf1789; }
.meta .separator { color: #00b195; }