:root{
    --black: #000;
    --white: #fff;
    --grey: #ddd;
    --light-grey: #7a7a7a;
    --green: #00bfad;
    --pink: #fe2891;
}
html{
    background:#101010;
}
body{
    background:0 0;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size:18px;
    line-height:1.6;
    color:var(--white);
    scrollbar-color:#c2c2c2 #333;
    scrollbar-width:thin;
}
@media all and (max-width:868px){
    body{
        font-size:16px
    }
}
a{
    color:var(--pink);
    text-decoration:none;
    background:0 0;
    padding:.1em;
    transition:all 0ms ease-in-out
}
img{
    max-width:100%
}
/*
            T   I   T   L   E   S
*/
h1{
    font-size:2em
}
h2{
    font-size:1.5em
}
h3{
    font-size:1.3em
}
h1, h2, h3{
    font-weight:900;
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    line-height:1.4;
    color:var(--green);
}
/*
            C   U   R   S   O   R
*/
.cursor {
    display: inline-block;
    width: 2px;
    height: 2rem;
    background:var(--pink);
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
}
@keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
/*
            M   A   I   N
*/
#main{
    background:0 0;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin:0% auto;
    width:100%;
    padding:2%;
    min-height:100vh
}
@media all and (max-width:868px){
    #main{
        padding:2%
    }
}
@media all and (min-width:1860px){
    #main{
        width:100%
    }
}
@media all and (min-width:2300px){
    #main{
        width:60%
    }
}
/*
            C   O   N   T   A   I   N   E   R
*/
.container{
    background:0 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    width:75%;
    max-width:60em;
    padding-top:2%
}
@media (min-width: 1200px){
    .container {
        width: 1160px;
    }
}
@media (min-width: 400px){
    .container {
        margin:0 auto;
    }
}
.container h1 {
    padding-top:60px;
}
/*
            W   E   L   C   O   M   E
*/
.welcome {
    font-family:Cyberpunk !important;
    color: var(--pink);
}
/*
            M   A   R   K   D   O   W   N
*/
.markdown{
    width:100%;
    max-width:100%
}
.markdown h1,.markdown h2,.markdown h3{
    padding-top:60px;
    text-align:left;
    margin-bottom:.5em;
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}
.markdown p{
    margin-top:1.25rem
}
.markdown hr{
    width:30%;
    margin:2% auto
}
.markdown .img-caption{
    text-align:center;
    font-style:italic;
    max-width:800px;
    margin:1em auto;
    font-size:.9em;
    color:var(--light-grey);
    margin-bottom:1.25rem
}
.markdown pre{
    border-radius:4px;
    padding:.5em;
    margin:1.25rem 0;
    overflow-x:auto;
    background-color:#2d2d2d
}
.markdown pre:hover{
    overflow-x:visible;
    min-width:-moz-fit-content;
    margin-bottom:1rem;
    max-width:100vw
}
.markdown code{
    font-size:.9em;
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    color:var(--grey);
    padding:.2em;
    border-radius:4px;
    border:1px solid #747474;
    word-break:break-word;
    background-color:#2d2d2d
}
.markdown pre>code{
    border:none;
    padding:0;
    background-color:transparent
}
.markdown .highlight:hover{
    overflow-x:visible;
    min-width:-moz-fit-content;
    margin-bottom:1rem;
    max-width:100vw
}
.markdown blockquote{
    background-color:#2d2d2d;
    border-radius:4px;
    padding:2%;
    margin:2% calc(2%*2);
    border-left:3px solid #c2c2c2
}
.markdown blockquote p:first-child{
    margin-top:0!important
}
.markdown blockquote p:last-child{
    margin-bottom:0
}
@media all and (max-width:868px){
    .markdown blockquote{
        margin:1.25rem
    }
}
.markdown .table-wrap{
    overflow-x:auto
}
.markdown table{
    width:auto;
    min-width:100%;
    border-collapse:collapse;
    margin:1.25rem auto;
    overflow-x:auto
}
.markdown table th{
    font-size:.9em;
    background-color:#383838
}
.markdown table tr:nth-child(even){
    background-color:#383838
}
.markdown table td,.markdown table th{
    padding:5px;
    text-align:left;
    border:1px solid #2d2d2d
}
.markdown img,.markdown video{
    max-width:100%;
    display:block;
    margin:2% auto
}
.markdown img[src*='#screenshot']{
    max-width:100%;
    margin:0 auto;
    opacity:90%;
    box-shadow:6px 4px 0 #2d2d2d;
    background-color:#c2c2c2
}
@media screen and (max-width:868px){
    .markdown img[src*='#screenshot']{
        max-width:100%
    }
}
.markdown img[src*='#headshot']{
    border-radius:50%;
    width:80%;
    max-width:350px;
    margin:2em auto;
    box-shadow:6px 4px 0 #2d2d2d
}
.markdown img[src*='#coffee']{
    width:300px;
    border-radius:50%;
    max-width:350px;
    margin:2em auto;
    box-shadow:6px 4px 0 #2d2d2d
}
.markdown img[src*='#center']{
    margin:0 auto;
    max-width:80%
}
@media screen and (max-width:868px){
    .markdown img[src*='#center']{
        max-width:100%
    }
}
.markdown img[src*='#right-block']{
    display:block;
    float:right;
    margin-top:0;
    margin-left:2em;
    margin-bottom:1em;
    width:60%;
    border-radius:4px;
    box-shadow:6px 4px 0 #2d2d2d;
    border:1px solid var(--black)
}
@media screen and (max-width:868px){
    .markdown img[src*='#right-block']{
        width:100%
    }
}
.markdown ul>li{
    list-style:disc outside
}
.markdown ul>li:last-child{
    margin-bottom:1.25rem
}
.markdown ol>li{
    list-style:decimal outside
}
.markdown ol>li:last-child{
    margin-bottom:1.25rem
}
.markdown ol,.markdown ul{
    margin:1.25rem
}
.markdown sup>a{
    border-bottom:none
}
/*
            A   V   A   T   A   R
*/
#avatar-box{
    display:flex;
    float:left;
    margin:0 1em 0 0;
    justify-content:center;
    align-items: center;
}
@media screen and (max-width:868px){
    #avatar-box{
        margin-right:auto;
        margin:0 auto
    }
}
#avatar{
    border-radius:50%;
    width:150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(75%);

}
/*
            I   N   D   E   X
*/
.index-content{
    padding-top: 60px;
    
    flex-direction:row;
    width:100%;
    font-size:1em;
    padding:1em;
    line-height:1.6
}
@media all and (max-width:868px){
    .index-content{
        margin-bottom:.5em;
        text-align:center;
        flex-direction:column
    }
    .index-content h1,.index-content h2{
        text-align:center!important;
        margin-bottom:.1em!important
    }
}
.row{
    display:flex;
    flex-direction:row
}
@media screen and (max-width:868px){
    .row{
        flex-direction:column
    }
}
.index-content h1,.index-content h2,.index-content h3{
    padding-top:0
}
.index-content p{
    margin-top:1em
}
#index-menu #menu{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1em
}
#index-menu #logo{
    display:none
}
#index-footer{
    font-size:.9rem;
    flex-direction:column;
    text-align:center
}
/*
            L   I   S   T       I   T   E   M   S
*/
#list-items{
    margin:0!important;
    padding:0!important;
    float:left;
    width:100%;
}
#list-items li{
    margin:0 0 3em;
    padding-left:0;
    list-style:none;
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}
@media all and (max-width:868px){
    #list-items li{
        margin:0 0 2em
    }
}
#list-items li p{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}
#list-items li a{
    font-size:1.4em;
    letter-spacing:-.8px;
    line-height:1.1;
    border-bottom:none;
    font-weight:bold
}
.li-link {
    margin:4px 3px 0 0;
    font-size:1.4em;
    color:var(--green);
    border-bottom: 1px solid var(--pink) !important;
    padding-bottom: 10px;
    line-height:2 !important;
}
/*
        M   E   T   A   D   A   T   A
*/
.metadata{
    font-size:.9em;
}
/*
        R   E   L   A   T   E   D
*/
.related{
    text-align:left;
    margin:0 auto;
    width:100%
}
.related h3{
    margin-bottom:1rem
}
.related ul li{
    margin:0 0 1em;
    list-style:none
}
.related ul li a{
    font-size:1.15em
}
.related+.page-separator{
    margin:3em auto 0
}
/*
        B   U   T   T   O   N   S
*/
.button{
    padding:0 .4em;
    border-radius:4px;
    display:inline-block;
    font-weight:bold;
    color:var(--black);
    margin:3.5px 3px;
    padding-left:2em!important;
    padding-right:2em!important;
}
#blog-cta{
    background:var(--pink)!important;
    margin:2em auto;
}
@media all and (min-width:1860px){
    .button{
        margin:2em auto
    }
}
/*
        T    A     G     S  
*/
.tag{
    margin:10px 5px 0 0!important;
    font-size:.9em!important;
    font-weight:400!important;
    letter-spacing:0!important;
    color:var(--white)!important;
    padding:1px 2px !important;
}
.tag-prefix{
    opacity: 0.5;
}
.tag-count{
    font-size:small;
}
/*
[href$='/tags/hugo/']{
    background:#f3dcf7
}
[href$='/tags/devops/']{
    background:#d625b9
}
[href$='/tags/aws/']{
    background:#ffcaa3
}
[href$='/tags/ci/']{
    background:#c0aeae
}
[href$='/tags/cms/']{
    background:#afd8f7
}
[href$='/tags/data/']{
    background:#ffccf5
}
[href$='/tags/drone/']{
    background:#dfd6d6
}
[href$='/tags/github/']{
    background:#ebdccb
}
[href$='/tags/terminal/']{
    background:#35d64b
}
[href$='/tags/go/']{
    background:#7fd5ea
}
[href$='/tags/flutter/']{
    background:#039be5
}
[href$='/tags/python/']{
    background:#4b8bbe
}
[href$='/tags/javascript/']{
    background:rgba(232,15,137,.4)
}
[href$='/tags/versioning/']{
    background:rgba(255,108,14,.6)
}
[href$='/tags/open-source/']{
    background:rgba(208,78,255,.92)
}
[href$='/tags/git/']{
    background:rgba(255,211,67,.8)
}
[href$='/tags/api/']{
    background:#bfdda6
}
[href$='/tags/life/']{
    background:#c6dbff
}
[href$='/tags/linux/']{
    background:#dd4814
}
[href$='/tags/raspberry-pi/']{
    background:#c51a4a
}
[href$='/tags/semver/']{
    background:#ddd
}
*/
.tags-list li{
    list-style:none;
    display:inline-block
}
.tags-list li:nth-of-type(5n){
    font-size:1.15em;
    margin:.5em 1em
}
.tags-list li:nth-of-type(3n+2){
    font-size:1.25em;
    margin:.5em 1.5em
}
.tags-list li:nth-of-type(4n),.tags-list li:first-child,.tags-list li:last-child{
    font-size:1.35em;
    margin:.5em 2em
}
/*
            P   A   G   I   N   A   T   I   O   N
*/
.pagination{
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center
}
.pagination > .page-item{
    margin:0 .5em;
    list-style-type:none;
    text-align:center
}
.pagination > .disabled > .page-link{
    border-bottom:none !important;
    color:var(--light-grey) !important;
}
.pagination > .active > .page-link:hover, 
.pagination > .disabled > .page-link:hover{
    text-shadow:none !important;
}
.pagination > .active{
    padding:5px;
    background:#35d64b;
    border-radius: 4px;
}
.pagination > .active > .page-link {
    color: #000 !important;
    border-bottom:none !important;
}

/*
            M   E   N   U
*/
#menu{
    width:calc(100% - (2%) * 2);
    font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
}
@media all and (max-width:868px){
    #menu{
        display:none
    }
}
#menu .menu-item{
    padding:0 1.5%;
    font-weight:bold;
}
#menu .menu-item:first-child{
    padding:0 1.5% 0 0
}
@media all and (max-width:868px){
    #menu .menu-item{
        padding:0 2%
    }
    #menu .menu-item:first-child{
        padding:0 2% 0 0
    }
}
#menu .menu-item .active{
    border-bottom: 2px solid var(--pink);
    padding-bottom: 10px;
}
#menu .menu-item a{
    color:var(--white);
}
#toggle, .toggle{
    display:none
}
@media all and (max-width:868px){
    .toggle{
        background:0 0;
        border:none;
        display:block;
        position:absolute;
        top:0;
        right:0;
        margin:2% 2% 0 0;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .toggle input{
        display:block;
        position:absolute;
        height:100%;
        width:100%;
        cursor:pointer;
        opacity:0;
        z-index:20;
        -webkit-touch-callout:none
    }
    .toggle span.bar{
        display:block;
        width:36px;
        height:4px;
        margin-bottom:5px;
        position:relative;
        background:#c2c2c2;
        z-index:10;
        transform-origin:4px 1px;
        transition:transform .5s cubic-bezier(0.77,0.2,0.05,1),background .5s cubic-bezier(0.77,0.2,0.05,1),opacity .55s ease
    }
    .toggle span.bar :first-child{
        transform-origin:0% 0%
    }
    .toggle span.bar :nth-last-child{
        transform-origin:0% 100%
    }
    .toggle input:checked~span{
        opacity:1;
        transform:rotate(45deg)translate(-2px,-2px);
        background:var(--light-grey)
    }
    .toggle input:checked~span:nth-last-child(3){
        opacity:0;
        transform:rotate(0deg)scale(0.2,0.2);
        background:var(--light-grey)
    }
    .toggle input:checked~span:nth-last-child(2){
        transform:rotate(-45deg)translate(0,-2px);
        background:var(--light-grey)
    }
    .toggle input:checked~#mobile-menu{
        transform:none
    }
}
#mobile-menu,#mobile{
    display:none
}
@media all and (max-width:868px){
    #mobile-menu,#mobile{
        font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
        position:absolute;
        right:-.5em;
        top:-1em;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        padding:20px;
        -webkit-font-smoothing:antialiased;
        height:100vh;
        width:50vw;
        background:#333;
        border-left:2px solid #c2c2c2;
        z-index:5;
        list-style-type:none;
        transform-origin:0% 0%;
        transform:translate(0,-150%);
        transition:transform .5s cubic-bezier(0.77,0.2,0.05,1)
    }
    #mobile-menu a,#mobile a{
        text-transform:none
    }
}
/*
            S   E   P   A   R   A   T   O   R
*/
.page-separator{
    margin:2em 0;
    color:var(--pink);
}
.page-separator hr{
    width:300px;
}

.centered, #cover-image{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center
}
/*
            S   H   I   E   L   D   S 
*/
#shields {
    margin-top: 0!important;
    margin-left: 0!important;
}
#shields li {
    display: inline-block;
    padding: 0 .5em 0 0;
    margin: 0!important;
    list-style: none;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
#shields li a {
    display: inline-block;
    border-bottom: none;
    text-shadow: none!important;
    height: 1em;
    line-height: 0;
    font-weight: 600;
    font-size: 1.4em;
    color: #e1e1e1;
    letter-spacing: -.8px;
}
#shields li a img {
    margin: 0!important;
}