/* FONTS */
@font-face{
    font-family:NeutraText-Bold;
    src:url(/fonts/NeutraText-Bold.otf)
}
@font-face{
    font-family:Hermit-Regular;
    src:url(/fonts/Hermit-Regular.otf)
}

/* ROOT */
:root{
    --color-background:#fcfcfc;
    --color-border:#d9d9d9;
    --color-brand:#fd26ef;
    --color-code:#e8e8e8;
    --color-text:#495057;
    --color-heading:#2b2b2b;
    --color-hover:#f5f5f5;
    --color-link:#1ca0f1;
    --color-subheading:#8c8c8c;
    --color-title:#525252;
    --width-standard:calc(100% - 30px);
    --padding:15px;
    --font-brand-primary:Hermit-Regular,NeutraText-Bold;
    --font-brand-secondary:Hermit-Regular,NeutraText-Bold;
    --font-brand-tertiary:Hermit-Regular,NeutraText-Bold;
    --font-brand-regular:Hermit-Regular,NeutraText-Bold;
    --code-color-background:#151515;
    --code-color-syntax:#949494;
    --code-color-js-syntax:#e6c959;
    --code-color-comment:#888;
    --code-color-keyword:#537fdc;
    --code-color-key:#81cffe;
    --code-color-function-name:#da9800;
    --code-color-built-in:#af582e;
    --code-color-string:#cfaf81;
    --code-font-family:Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace
}

/* GENERIC */
*{
    box-sizing:border-box
}
body{
    font-family:var(--font-brand-regular);
    color:var(--color-text);
    font-size:16px;
    background-color:var(--color-background)
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,mark,menu,nav,object,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,var,video{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
p{
    margin-bottom:15px;
    line-height:1.8;
    letter-spacing:-.5px;
    font-size:1.25rem
}
h1,h2,h3,h4,h5,h6{
    font-family:var(--font-brand-tertiary);
    font-display:swap;
    color:var(--color-heading);
    line-height:1;
    margin:20px auto 10px
}
h1{
    font-size:3rem;
    letter-spacing:-3px;
    margin:60px auto 0;
    text-align:center
}
h2{
    font-size:1.75rem;
    margin:20px auto 10px
}
h2,h3{
    letter-spacing:-1.5px;
    color:var(--color-font-heading)
}
h3{
    font-size:2.25rem
}
h4{
    font-size:1.75rem;
    letter-spacing:-1.5px;
    margin:30px auto 5px;
    color:var(--color-font-heading)
}
@media (max-width:768px){
    h1{
        font-size:2.5rem;
        margin:30px auto 10px
    }
    h2,h3{
        font-size:1.5rem
    }
    h4{
        font-size:1.3rem
    }
}
img{
    width:100%;
    max-width:768px;
    margin:0 auto
}
li::marker{
    font-style:italic
}
li{
    font-size:1.25rem;
    margin-bottom:4px
}
@keyframes outlineFade{
    0%{
        outline:2px solid #00f
    }
    to{
        outline:2px solid rgba(0,0,255,.2)
    }
}
button:focus{
    animation:outlineFade 2s forwards
}
a{
    overflow-wrap:break-word;
    color:var(--color-link);
    text-decoration:none
}
article img,p img{
    margin:10px auto
}
.about-text{
    font-family:var(--font-brand-regular);
    font-size:1.25rem;
    margin:0 0 15px;
    line-height:1.5
}
.container-600{
    width:100%;
    max-width:600px
}
.social-icon{
    margin-top:10px;
    width:40px
}
@media (max-width:419px){
    p{
        font-size:1rem
    }
}
pre{
    margin-bottom:10px
}
code{
    border-radius:5px;
    width:100%;
    white-space:break-spaces;
    overflow-wrap:break-word;
    color:var(--color-text);
    background-color:var(--color-code);
    font-family:var(--code-font-family)
}

/* THEME */
.theme-switch-wrapper {
    width: 30px;
    overflow: hidden;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

[data-theme="light"] .dark-mode-switch {
    transform: rotate(180deg);
}

@media (prefers-color-scheme: light) {
    .dark-mode-switch {
        transform: rotate(180deg);
    }
}

.dark-mode-switch {
    transform: rotate(180deg);
}

[data-theme="dark"] .dark-mode-switch {
    transform: rotate(360deg);
}

@media (prefers-color-scheme: light) {
    .dark-mode-switch {
        transform: rotate(180deg);
    }
}

.dark-mode-switch {
    transform: rotate(180deg);
}

.theme-switch-wrapper{
    width:30px;
    overflow:hidden;
    height:30px;
    padding:0;
    border:none;
    background:transparent;
    cursor:pointer
}
.theme-switch{
    display:inline-block;
    position:relative;
    overflow:hidden
}
.theme-switch input{
    display:none
}

[data-theme="dark"] .dark-mode-switch{
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}

[data-theme="light"] .dark-mode-switch{
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

.dark-mode-switch{
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

html[data-theme="light"]{
    --color-background:#fcfcfc;
    --color-border:#d9d9d9;
    --color-brand:#fd26ef;
    --color-code:#e8e8e8;
    --color-text:#495057;
    --color-heading:#2b2b2b;
    --color-hover:#f5f5f5;
    --color-link:#1ca0f1;
    --color-subheading:#8c8c8c;
    --color-title:#525252;
}

html[data-theme="dark"]{
    --color-background:#030303;
    --color-border:#262626;
    --color-brand:#fd26ef;
    --color-code:#171717;
    --color-text:#b6afa8;
    --color-heading:#d4d4d4;
    --color-hover:#252525;
    --color-link:#1ca0f1;
    --color-subheading:#737373;
    --color-title:#adadad;
}

@media (prefers-color-scheme:dark){
    body{
        -webkit-font-smoothing:antialiased;
    }
    :root{
        --color-background:#030303;
        --color-border:#262626;
        --color-brand:#fd26ef;
        --color-code:#171717;
        --color-text:#b6afa8;
        --color-heading:#d4d4d4;
        --color-hover:#252525;
        --color-link:#1ca0f1;
        --color-subheading:#737373;
        --color-title:#adadad;
    }
    .dark-mode-switch{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

@media (prefers-color-scheme:light){
    :root{
        --color-background:#fcfcfc;
        --color-border:#d9d9d9;
        --color-brand:#fd26ef;
        --color-code:#e8e8e8;
        --color-text:#495057;
        --color-heading:#2b2b2b;
        --color-hover:#f5f5f5;
        --color-link:#1ca0f1;
        --color-subheading:#8c8c8c;
        --color-title:#525252;
    }
    .dark-mode-switch{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
}

data-styled.g1[id="sc-global-jaHIwG1"]{
    content:"sc-global-jaHIwG1,"
}

/* NAVBAR */
.navbar-container {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-border);
    background: var(--color-background);
}
@media (max-width:369px){
    .navbar-container{
        padding:var(--padding) 20px
    }
}

.navbar-navigation {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar-navigation a {
    font-size: 1.25rem;
    letter-spacing: -1px;
    color:var(--color-heading);
    font-family: NeutraText-Bold,Hermit-Regular;
    padding:5px;
    text-shadow:0px 0px 5px var(--color-subheading);
}
@media (max-width:768px){
    .navbar-navigation a{
        font-size:1rem
    }
}
.navbar-navigation a:hover {
    border-radius:10px;
    background-color:var(--color-hover);
    color:var(--color-title);
}
/* LANGUAGE SELECTOR */
.lang-selector {
	list-style: none;
	position: relative;
	cursor: pointer;
	padding: 0;
}
.lang-selector li ul {
	display: none;
	padding: 0;
	text-align: center;
}
.lang-selector li ul a {
	color: var(--color-background);
	text-align: center;
}
.lang-selector li:hover ul {
	position: absolute;
	display: block;
	background: var(--color-text);
	color: var(--color-background);
	width: 100px;
	z-index: 2;
	border-radius: 5px;
}

/* LAYOUT */
.layout-container {
    display:flex;
    flex-flow:column;
    width:100%;
    max-width:768px;
    margin:0 auto;
    padding:0 var(--padding);
}

/* BANNER */
.banner-container{
    width:100%;
    margin:50px auto;
    display:flex;
    align-items:center;
}
.banner-image{
    width:100px;
    margin:0 20px 0 0;
    transition:transform .5s cubic-bezier(.68,-.55,.27,1.55),filter .5s cubic-bezier(.68,-.55,.27,1.55);
    border-radius:50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(75%);
    cursor:pointer;
}
.banner-image:hover{
    transform:rotate(1turn);
}
.banner-text{
    flex-direction: row;
}
.banner-title{
    font-size:2rem;
    letter-spacing:-1px;
    margin:0;
    color:var(--color-heading);
    text-shadow:0px 0px 5px var(--yellow);
    font-family:var(--font-brand-primary);
}
.banner-description{
    font-size: 1.25rem;
}
@media (max-width:768px){
    .banner-container{
        margin:30px auto
    }
    .banner-title{
        font-size:1.5rem
    }
    .banner-description{
        font-size: 1.2rem;
    }
}
@media (max-width:419px){
    .banner-container{
        margin:20px auto 30px
    }
}

/* HEADING */
.heading-container{
    width:100%;
    max-width:400px;
    border-bottom:1px solid var(--color-border);
    margin-bottom:10px
}
.heading-container-title{
    width:100%;
    max-width:768px;
    margin:0 auto;
    padding-bottom:4px;
    color:var(--color-title);
    font-size:2rem
}
.heading-container-subtitle{
    font-family:var(--font-brand-tertiary);
    font-display:swap;
    font-size:1.05rem;
    letter-spacing:-1px;
    line-height:1.8;
    color:var(--color-subheading);
    margin-bottom:unset;
    width:100%
}

/* POST PREVIEW */
.post-preview-container{
    width:100%;
    border-radius:10px;
    cursor:pointer;
    padding:20px;
}
.post-preview-container:hover{
    background-color:var(--color-hover)
}
.post-preview-title-container{
    width:100%;
    display:flex;
}
.post-preview-tag-new{
    color:var(--color-background);
    border:1px solid var(--color-border);
    margin:0 4px 0 0;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px 10px;
    border-radius:5px;
    max-height:28px;
    background:red;
}
.post-preview-title{
    font-size:1.5rem;
    letter-spacing:-1px;
    color:var(--color-title);
    width:100%;
    margin:0;
    max-width:600px;
    font-family:var(--font-brand-tertiary);
}
.post-preview-subtext{
    font-family:var(--font-brand-secondary);
    font-display:swap;
    font-size:1rem;
    letter-spacing:-1px;
    color:var(--color-subheading);
    margin-bottom:unset;
}
.post-preview-metadata{
    font-size:.8em;
    color:var(--color-title);
}

/* TAGS */
.tags-container{
    margin:50px auto;
}
.tag{
    width:100%;
    border-radius:10px;
    cursor:pointer;
    font-size:0.85em!important;
    color:black;
    padding:5px;
}
.tag:hover{
    background-color:var(--color-hover);
    color:var(--color-title);
}
/* TAGS COLORS */
[href$='/tags/api/']{
    background:#e4ffe7
}
[href$='/tags/ci/cd/']{
    background:#b4d6db
}
[href$='/tags/cms/']{
    background:#e9f7eb
}
[href$='/tags/devops/']{
    background:#5bc6c5
}
[href$='/tags/drone/']{
    background:#b09d6e
}
[href$='/tags/raspberrypi/']{
    background:#ff0993
}
[href$='/tags/flutter/']{
    background:#e46673
}
[href$='/tags/git/']{
    background:#d6f1d9
}
[href$='/tags/github/']{
    background:#9c90f4
}
[href$='/tags/go/']{
    background:#bfeefd
}
[href$='/tags/hugo/']{
    background:#67f5f5
}
[href$='/tags/javascript/']{
    background:#a997ae
}
[href$='/tags/life/']{
    background:#e4f9fc
}
[href$='/tags/linux/']{
    background:#c3b6e9
}
[href$='/tags/privacy/']{
    background:#739cff
}
[href$='/tags/php/']{
    background:#4690ba
}
[href$='/tags/python/']{
    background:#fff69e
}
[href$='/tags/semver/']{
    background:#ce7bce
}
[href$='/tags/terminal/']{
    background:#d2edd2
}
[href$='/tags/productivity/']{
    background:#5de0ac
}
[href$='/tags/vscode/']{
    background:#5dacfd;
}

/* BLOG */
.blog-container {
    width: 100%;
    max-width: 768px;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
}

/* POST */
.post-title{
    font-size: 3rem;
    letter-spacing: -1px;
    margin: 0;
    text-align: left;
    font-family: var(--font-brand-tertiary);
}
.post-description{
    font-size: 1.5rem;
    text-align: left;
    color: var(--color-subheading);
    font-family: var(--font-brand-regular);
    letter-spacing: -1.5px;
    margin: 10px 0;
}
.post-tags{
    margin-top:10px;
    margin-bottom:10px;
}
.post-metadata{
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 5px;
}
.post-date{
    text-align: left;
    font-size: 1rem;
    letter-spacing: -1px;
    color: var(--color-font-subheading);
    margin: 20px auto;
    font-family: var(--font-brand-secondary);
    font-display: swap;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 5px;
    font-style: italic;
}

/* FOOTER */
.footer-container {
    width: 100%;
    margin: 40px auto 0;
}
.footer-social-icons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
.footer-social-icon {
    font-size: 1.25em;
    padding: 5px;
    color: var(--color-title);
    margin-right: 10px;
    text-shadow:0px 0px 5px var(--color-subheading);
}
.footer-social-icon:hover{
    background-color:var(--color-hover);
    border-radius:50%;
}
.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

/* BUTTON */
.button{
    background:var(--color-title)!important;
    margin:2em auto !important;
    border-radius:4px;
    display:inline-block;
    font-weight:bold;
    color:var(--color-background);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5px;
    padding-bottom: 2.5px;
}
.button:hover{
    background-color:var(--color-hover)!important;
    color:var(--color-title)!important;
}

/* PAGINATION */
.pagination{
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.pagination > .page-item{
    margin:0 .5em;
    list-style-type:none;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 2.5px;
}
.pagination > .page-item > .page-link {
    color:var(--color-title);
}
.pagination > .page-item:hover{
    background-color:var(--color-hover);
    color:var(--color-title);
}
.pagination > .disabled > .page-link{
    color:var(--color-subheading);
    opacity: 50%;
}
.pagination > .active{
    background-color: var(--color-title);
    border-radius: 4px;
}
.pagination > .active > .page-link {
    color:var(--color-background);
}
.pagination > .active:hover,
.pagination > .disabled:hover {
    background-color:transparent;
}

/* SEPARATOR */
.page-separator{
    margin:2em 0;
}
.page-separator hr{
    width:300px;
    height: 1px;
    background-color:var(--color-border);
    border: none;
}

/* CENTERED */
.centered {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CAPTION for 404 PAGE */
#caption {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:small;
    margin:0px !important;
}