.pagination{
    width:50%;
    margin:0 auto;
    padding: 25px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.pagination > .page-item{
    margin:0 .5em;
    list-style-type:none;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 2.5px;
}
.pagination > .page-item > .page-link {
    color:#007d9c;
}
.pagination > .disabled > .page-link{
    color:grey;
    opacity: 50%;
    text-decoration: none;
    cursor: default;
}
.pagination > .active {
    background-color: #007d9c;
    border-radius: 10px;
}
.pagination > .active > .page-link {
    color:#f8f8f9;
}
.pagination > .disabled:hover {
    background-color:transparent;
}