html[data-theme="light"]{
    --color-code-background:#141322;
    --color-dark-blue:#30317d;
    --color-red:#ff5395;
    --color-green:#d8ff4e;
    --color-yellow:#fffc7e;
    --color-cyan:#7dd9e4;
    --color-magenta:#fa61b8;
    --color-blue:#a8ffef;
    --color-white:#cff0e8;
}

html[data-theme="dark"]{
    --color-code-background:#b6afa8;
    --color-dark-blue:#391ab5;
    --color-red:#ff427b;
    --color-green:#c8ff00;
    --color-yellow:#f8d846;
    --color-cyan:#84f9fe;
    --color-magenta:#d5358f;
    --color-blue:#83fee8;
    --color-white:#cbfff2;
}

/* Background */ .chroma { color: var(--color-blue); background-color: var(--color-code-background) }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: var(--color-cyan) }
/* KeywordConstant */ .chroma .kc { color: var(--color-cyan) }
/* KeywordDeclaration */ .chroma .kd { color: var(--color-blue); font-style: italic }
/* KeywordNamespace */ .chroma .kn { color: var(--color-cyan) }
/* KeywordPseudo */ .chroma .kp { color: var(--color-cyan) }
/* KeywordReserved */ .chroma .kr { color: var(--color-cyan) }
/* KeywordType */ .chroma .kt { color: var(--color-blue) }
/* NameAttribute */ .chroma .na { color: var(--color-green) }
/* NameBuiltin */ .chroma .nb { color: var(--color-blue); font-style: italic }
/* NameClass */ .chroma .nc { color: var(--color-green) }
/* NameFunction */ .chroma .nf { color: var(--color-green) }
/* NameLabel */ .chroma .nl { color: var(--color-blue); font-style: italic }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: var(--color-cyan) }
/* NameVariable */ .chroma .nv { color: var(--color-blue); font-style: italic }
/* NameVariableClass */ .chroma .vc { color: var(--color-blue); font-style: italic }
/* NameVariableGlobal */ .chroma .vg { color: var(--color-blue); font-style: italic }
/* NameVariableInstance */ .chroma .vi { color: var(--color-blue); font-style: italic }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: var(--color-magenta) }
/* LiteralStringAffix */ .chroma .sa { color: var(--color-magenta) }
/* LiteralStringBacktick */ .chroma .sb { color: var(--color-magenta) }
/* LiteralStringChar */ .chroma .sc { color: var(--color-magenta) }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--color-magenta) }
/* LiteralStringDoc */ .chroma .sd { color: var(--color-magenta) }
/* LiteralStringDouble */ .chroma .s2 { color: var(--color-magenta) }
/* LiteralStringEscape */ .chroma .se { color: var(--color-magenta) }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--color-magenta) }
/* LiteralStringInterpol */ .chroma .si { color: var(--color-magenta) }
/* LiteralStringOther */ .chroma .sx { color: var(--color-magenta) }
/* LiteralStringRegex */ .chroma .sr { color: var(--color-magenta) }
/* LiteralStringSingle */ .chroma .s1 { color: var(--color-magenta) }
/* LiteralStringSymbol */ .chroma .ss { color: var(--color-magenta) }
/* LiteralNumber */ .chroma .m { color: var(--color-red) }
/* LiteralNumberBin */ .chroma .mb { color: var(--color-red) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--color-red) }
/* LiteralNumberHex */ .chroma .mh { color: var(--color-red) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--color-red) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--color-red) }
/* LiteralNumberOct */ .chroma .mo { color: var(--color-red) }
/* Operator */ .chroma .o { color: var(--color-cyan) }
/* OperatorWord */ .chroma .ow { color: var(--color-cyan) }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: var(--color-yellow) }
/* CommentHashbang */ .chroma .ch { color: var(--color-yellow) }
/* CommentMultiline */ .chroma .cm { color: var(--color-yellow) }
/* CommentSingle */ .chroma .c1 { color: var(--color-yellow) }
/* CommentSpecial */ .chroma .cs { color: var(--color-yellow) }
/* CommentPreproc */ .chroma .cp { color: var(--color-cyan) }
/* CommentPreprocFile */ .chroma .cpf { color: var(--color-cyan) }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: var(--color-dark-blue) }
/* GenericEmph */ .chroma .ge { text-decoration: underline }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi { font-weight: bold }
/* GenericOutput */ .chroma .go { color: var(--color-white) }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }


/* CODE */
pre{
    border-radius:4px;
    padding:.5em;
    margin:1.25rem 0;
    overflow-x:auto;
}
code{
    width:100%;
    font-size:.9em;
    font-family:var(--code-font-family);
    border-radius:4px;
    word-break:break-word;
}
