.image-list {
    margin: 3rem 0;
}

.image-list li {
    list-style: none !important;
}

.image-list p:last-child {
    margin-top: 0.5rem;
}

.image-list li + li {
    margin-top: 2.5rem;
}

.image-list figure {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.li-head {
    font-weight: bold;
}
