<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		<div id="main">

			{{ partial "navbar" . }}

			<div class="container">
				<h1 class="h1-section">{{ .Title }} <span class="cursor"></span></h1>

				<div class="markdown">
					<p>
						{{ range .Site.Taxonomies.tags }}
							<a class="button tag" href="{{ .Page.Permalink }}"><span class="tag-prefix">#</span>{{ .Page.Title }} <span class="tag-count">({{ .Count }})</span></a>
						{{ end }}
					</p>
				</div>
				
				{{ partial "posts_list.html" . }}

			</div>
			
			{{ partial "footer.html" . }}
			
		</div>
	</body>
</html>

