<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "navbar" . }}
		
		<div id="main">

			<div class="container">
				<div id="cover-image">
					<img src="{{ .Params.image | absURL }}" alt="cover image">
				</div>
				
				<div class="markdown">
					<h1>{{ .Title }}</h1>
					<p class="subtitle">{{ .Description }}</p>
					
					<p class="metadata">
						{{ with .Params.tags }}
							{{ range . }}
								<a class="tag" href="{{ "tags/" | absLangURL }}{{ . | urlize }}/"><span class="tag-prefix">#</span>{{ . }}</a>
							{{ end }}
						{{ end }}
						{{ if ne .Params.Section "/code" }}{{ .Date.Format "02/01/2006" }} · {{ T "readingTime" .ReadingTime }}{{end}}
					</p>

					{{ partial "social_share.html" . }}
				</div>

				<div class="markdown">
					<p>{{ .Content | safeHTML }}</p>
				</div>
				
				
				<div class="related">
					{{ $related := .Site.RegularPages.Related . | first 3 }}
					{{ with $related }}
					<div class="page-separator"><hr></div>
					
					
					{{ range . }}
					<section class="post-preview-container">
						<a href="{{ .Permalink }}">
							<div class="post-preview-title-container">
								<h3 class="post-preview-title">{{ .Title }}</h3>
							</div>
							<div class="post-preview-subtext">{{ .Description }}</div>
							<div>
								<span class="post-preview-metadata">
									{{ if ne .Params.Section "/code" }}{{ .Date.Format "02/01/2006" }} · {{ T "readingTime" .ReadingTime }}{{end}}
								</span>
								{{range .Params.tags}}
									<div class="post-preview-tag">#{{ . }}</div>
								{{end}}
							</div>
						</a>
					</section>
					{{ end }}
					{{ end }}
				</div>
				
				{{ template "_internal/disqus.html" . }}

			</div>

			<div class="page-separator centered"><hr></div>
			
			{{ partial "footer.html" . }}
			
		</div>
	</body>
</html>

