<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		<div id="main">

			{{ partial "navbar" . }}

			<div class="container">
				<div id="cover-image">
					<img src="{{ .Params.image | absURL }}" alt="cover image">
				</div>
				
				<div class="markdown">
					<h1>{{ .Title }}</h1>
					<p class="subtitle">{{ .Description }}</p>
					
					{{ partial "metadata.html" . }}

					{{ partial "social_share.html" . }}
				</div>

				<div class="markdown">
					<p>{{ .Content | safeHTML }}</p>
				</div>
				
				
				<div class="related">
					{{ $related := .Site.RegularPages.Related . | first 3 }}
					{{ with $related }}
					<div class="page-separator"><hr></div>
					
					<ul id="list-items">
						{{ range . }}
						<li>
							<a class="li-link" href="{{ .Permalink }}">{{ .Title }}</a>
							<p class="li-brief">{{ .Description }}</p>
							
							{{ partial "metadata.html" . }}
						</li>
						{{ end }}
					</ul>
					{{ end }}
				</div>
				
				{{ template "_internal/disqus.html" . }}

			</div>

			<div class="page-separator centered"><hr></div>
			
			{{ partial "footer.html" . }}
			
		</div>
	</body>
</html>

