<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		<section id="main">

			<div class="header">
				<div class="toggle"><input type="checkbox">
					<span class="bar"></span><span class="bar"></span><span class="bar"></span>
					<div id="mobile-menu">
						<span class="menu-item"><a href="/">🏠 home</a></span>
						<span class="menu-item"><a href="/blog/">📰 blog</a></span>
						<span class="menu-item"><a href="/anime/">📺 anime</a></span>
						<span class="menu-item"><a href="/about/">👨‍💻 about</a></span>
						<span class="menu-item"><a id="rss" href="/index.xml" rel="alternate" type="application/rss+xml" title="RSS for charly3pins, software engineer">📡 rss</a></span>
					</div>
				</div>
				<div id="menu">
					<span class="menu-item"><a href="/">🏠 home</a></span>
					<span class="menu-item"><a href="/blog/">📰 blog</a></span>
					<span class="menu-item"><a href="/anime/">📺 anime</a></span>
					<span class="menu-item"><a href="/about/">👨‍💻 about</a></span>
					<span class="menu-item"><a id="rss" href="/index.xml" rel="alternate" type="application/rss+xml" title="RSS for charly3pins, software engineer">📡 rss</a></span>
				</div>
			</div>

			<div class="container">
				<div id="images">
					<img src="{{ .Params.image | absURL }}" alt="cover image">
				</div>
				
				<div class="markdown">
					<h1>{{ .Title }}</h1>
					<p class="subtitle">{{ .Description }}</p>
					<p class="metadata">
						{{ with .Params.tags }}
							{{ range . }}
								<a class="li-tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
							{{ end }}
						{{ end }}
						{{ .ReadingTime }} min read | Posted on {{ .Date.Format "2006-01-02" }}
					</p>
				</div>

				<div class="page-separator"><hr></div>

				<div class="markdown">
					<p>{{ .Content | safeHTML }}</p>
				</div>
				
				<div class="page-separator"><hr></div>

				<div class="related">
					{{ $related := .Site.RegularPages.Related . | first 3 }}
					{{ with $related }}
					<div class="markdown highlight"><pre class="chroma">See also the related articles</pre></div>
					<ul id="list-items">
						{{ range . }}
						<li>
							<a class="li-link" href="{{ .Permalink }}">{{ .Title }}</a>
							<p class="li-brief">{{ .Description }}</p>
							<p class="metadata">
								{{ with .Params.tags }}
									{{ range . }}
										<a class="li-tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
									{{ end }}
								{{ end }}
								{{ .ReadingTime }} min read | Posted on {{ .Date.Format "2006-01-02" }}
							</p>
						</li>
						{{ end }}
					</ul>
					{{ end }}
				</div>

			</div>
			
			{{ partial "footer.html" . }}
			
		</section>
	</body>
</html>

