{{ partial "header.html" . }}

<h2 class="content-list-title">
    <a href="{{ .Permalink }}" class="linktopost">{{ .Title }}</a>
</h2>

<div class="content-list">
{{ range .Data.Pages.GroupByDate "2006" }}
<div class="content-list-date">{{ .Key }}</div>
  {{ range .Pages }}
    <div class="content-item">
        <a href="{{ .Permalink }}">
        <div class="post-list"> <h3 class="title"> {{ .Title }} </h3> </div>
        </a>
        {{ partial "tags.html" . }}
        <div class="date"> {{ .Date.Format "2006-01-02" }} </div>
    </div>  
  {{ end }}
{{ end }}
</div>

{{ partial "footer.html" . }}