{{define "main"}} {{- partial "nav.html" . -}}
<header id="content">
  <div id="header-content">
    <div>
      <h1>{{.Title}}</h1>
      {{ with .Description }}
      <div>{{ . | safeHTML }}</div>
      {{ end }}
      <!-- List all tags -->
      {{if eq .Kind " taxonomyTerm"}} {{range $key, $value
      :=.Data.Terms.Alphabetical}}
      <span>
        <a href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'
          >{{ $value.Name }} ({{.Count }})</a
        >
      </span>
      {{end}} {{else}} {{ $paginator := .Paginate .Pages.ByDate.Reverse 5 }} {{
      range $paginator.Pages }}
      <div>
        <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
        <span style="margin-top: 0.5rem">
          {{ .PublishDate.Format "02/01/2006" }} | {{.ReadingTime}}' | {{range
          .Params.Tags }}
          <span
            ><a class="tag-label" href='{{ "tags/" | absURL }}{{.}}'
              >#{{.}}</a
            ></span
          >
          {{end}}
        </span>
        <p style="margin-top: 0.5rem">{{ .Description }}</p>
      </div>
      <br />
      {{end}} {{ template "_internal/pagination.html" . }} {{end}}
    </div>
  </div>
</header>
{{end}}
