{{ define "main" }}

<main data-v-42561bd0="" data-v-39b597a5="" class="main-content">
	<div data-v-42561bd0="" class="container-m blog-single" style="display:flex;">
		<div class="col-lg-2 order-2 order-lg-1">
			<div class="share-now">
				<a href="#" class="scrol">{{ T "share" }}</a>
				<div class="sociel-icon">
					<ul>
						<li>
							<a href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via=charly3pins&amp;hashtags=books,readings,library,recommendation" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&amp;t={{ .Title }}" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="https://telegram.me/share/url?url={{ .Permalink }}&amp;text={{ .Title }}" target="_blank">
								<i class="fa fa-telegram"></i>
							</a>
						</li>
						<li>
							<a href="whatsapp://send?text={{ .Title }} %0A%0A{{ .Permalink }}" target="_blank">
								<i class="fa fa-whatsapp"></i>
							</a>
						</li>
						<li>
							<a href="mailto:?&amp;body={{ .Permalink }}" target="_blank">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-10 order-1 order-lg-2">
			<div data-v-42561bd0="" class="container-m page-header">
				{{ with .Params.image }}
				<div class="feature-image">
					<img src="{{ .  | absURL }}" style="width:200px;display: block;margin-left: auto;margin-right: auto;">
				</div>
				{{ end }}
				<h1 style="text-align: center;font-family: 'Merriweather',Georgia,sans-serif;line-height: 1.2;margin: 0;">{{ .Title }}</h1>
				<p data-v-42561bd0="" class="page-intro">
					{{ .Description }}
				</p>
			</div>
			<div data-v-42561bd0="" class="container-m">
				{{ .Content }}
			</div>
			<div class="container-m">
				{{ partial "comments" . }}
			</div>
		</div>
	</div>
</main>

{{ end }}