<!DOCTYPE html>
<html lang="{{ .Lang }}" data-theme="light">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "header" . }}
		
		<main class="page-content" aria-label="Content">
			<div class="wrapper">
				<article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
						<p class="post-meta">
							<span class="dt-published" datespan="2023-08-23T00:00:00+00:00" itemprop="datePublished">{{ .Date.Format "02/01/2006" }}</span>
							· 
							<span class="tags-container">
								<img class="tags-icon" src="/images/tags.png" alt="tags">
								{{range .Params.tags}}
								<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
								{{end}}
							</span>
							· 
							<span class="reading-time">{{ T "readingTime" }} {{ T "minutes" .ReadingTime }}</span>
						</p>
					</header>
					
					{{ partial "social_share" . }}

					<div class="post-content e-content" itemprop="articleBody">
						{{ .Content | safeHTML }}
					</div>

					{{ partial "social_share" . }}

					{{ $related := .Site.RegularPages.Related . | first 3 }}
					{{ with $related }}
					<ul class="post-list">
						{{ range . }}
						<li>
							<h3 class="blog-header">
								<a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
								<span class="post-meta"><time class="dt-published" datetime="2023-08-23T00:00:00+00:00" itemprop="datePublished">{{ .Date.Format "02/01/2006" }}</time></span>
								<span class="tags-container">
									<img class="tags-icon" src="/images/tags.png" alt="tags">
									{{range .Params.tags}}
									<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
									{{end}}
								</span>
							</h3>
							{{ .Description}}
						</li>					
						{{ end }}
					</ul>
					{{ end }}
					
					{{ partial "comments" . }}
					
				</article>
			</div>
		</main>

		{{ partial "footer.html" . }}

	</body>
</html>
