<article class="post-preview">

  <header>
    <h2 class="title"> <a href='{{ .Permalink }}'> {{ .Title | markdownify }}</a> </h2>
    <div class="meta">
      <i class="fa fa-calendar-o"></i> {{ .Date.Format "2006-01-02" }} <span class="separator">•</span> <i class="fa fa-clock-o"></i> {{ .ReadingTime }} minutes
    </div>
    {{ partial "tags.html" . }}
  </header>
  <div class="summary">
    {{ .Summary | markdownify }}
    <div class="rmore">
      <a href='{{ .Permalink }}'>Read more →</a>
    </div>
  </div>

</article>
