<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}
	
	<body class="Site">
	
		{{ partial "header" . }}
	
		<main class="SiteContent SiteContent--default" id="main-content">
			<div id="blog">
				<div id="content">
					<div id="content">
						<div class="Article">
							<h1>{{ .Title }}</h1>
							<div id="blogindex">
								<div class="taxonomies-tags">
									{{range .Site.Taxonomies.tags}}
									<a class="tag" href="{{ .Page.Permalink }}/">{{ .Page.Title }}({{.Count}})</a>
									{{end}}
								</div>
								
								{{ if (ne .Title "Tags")}}
								{{ $paginator := .Paginate .Pages.ByDate.Reverse 6 }}
								{{ range $paginator.Pages }}
								<p class="blogtitle">
									<a href="{{ .Permalink }}">{{ .Params.title }}</a>, <span class="date">{{ .Date.Format "02/01/2006" }}</span><br>
									<span class="author">
										<span class="tags-container">
											<img class="tags-icon" src="/images/tags.png" alt="tags">
											{{range .Params.tags}}
											<a class="tag" style="font-weight: normal;" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
											{{end}}
										</span>
									</span>
								</p>
								<p class="blogsummary">
									{{ .Params.description }}
								</p>
								{{ end }}
								{{ template "_internal/pagination.html" . }}
								{{ end }}
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		{{ partial "footer" . }}

	</body>
</html>