<!DOCTYPE html>
<html lang="{{ .Lang }}" data-theme="light">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "header" . }}

		<main class="page-content" aria-label="Content">
			<div class="wrapper">
				<h1 class="post-title">{{ .Title }}</h1>
				<div class="taxonomies-tags">
					{{range .Site.Taxonomies.tags}}
					<a class="tag" href="{{ .Page.Permalink }}/">{{ .Page.Title }}({{.Count}})</a>
					{{end}}
				</div>
				{{ if (ne .Title "Tags")}}
				<section class="articles">
					{{ $paginator := .Paginate .Pages.ByDate.Reverse 6 }}
					{{ range $paginator.Pages }}
					{{- partial "blog_card.html" . -}}
					{{ end }}
			 	</section>
				 
				{{ template "_internal/pagination.html" . }}

				{{ end }}

			</div>
		</main>
		
		{{ partial "footer.html" . }}

	</body>
</html>
