<!DOCTYPE html>
<html lang="{{ .Lang }}" data-theme="dark">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "navbar" . }}
		
		<div class="layout-container">

			<div class="banner-container">
				<img src="{{ .Site.Params.homeBanner }}" alt="cover image">
			</div>
			<div class="banner-container">
				<img class="banner-image" src="{{ .Site.Params.avatar }}" alt="Avatar">
				<div class="banner-text">
					<h1 class="banner-title">{{ .Site.Author.name }}</h1>
					<div class="banner-description">{{ T "description" }}</div>
				</div>
			</div>

			<header class="heading-container">
				<h4 class="heading-container-title">{{ T "indexHeadingBlog" }}</h4>
				<em class="heading-container-subtitle">{{ T "indexSubheadingBlog" }}</em>
			</header>

			{{range $i,$el := first 3 (where .Paginator.Pages ".Section" "blog")}}
			<section class="post-preview-container">
				<a href="{{ .Permalink }}">
					<div class="post-preview-title-container">
						<h3 class="post-preview-title">{{ .Title }}</h3>
						{{if lt $i 3}}<div class="post-preview-tag-new">New</div>{{end}}
					</div>
					<div class="post-preview-subtext">{{ .Description }}</div>
					<div class="post-preview-metadata-container">
						<span class="post-preview-metadata">
							{{ .Date.Format "02/01/2006" }} · {{ T "readingTime" .ReadingTime }}
						</span>
						{{range .Params.tags}}
						<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">#{{ . }}</a>
						{{end}}
					</div>
				</a>
			</section>
			{{end}}
			
			<div class="centered"><a href="{{ "blog/" | absLangURL }}" class="button">{{ T "readMore" }}</a></div>

			<div class="page-separator centered"><hr></div>	

			<header class="heading-container">
				<h4 class="heading-container-title">{{ T "indexHeadingCode" }}</h4>
				<em class="heading-container-subtitle">{{ T "indexSubheadingCode" }}</em>
			</header>

			{{range $i,$el := first 3 (where .Paginator.Pages ".Section" "code")}}
			<section class="post-preview-container">
				<a href="{{ .Permalink }}">
					<div class="post-preview-title-container">
						<h3 class="post-preview-title">{{ .Title }}</h3>
						{{if lt $i 3}}<div class="post-preview-tag-new">New</div>{{end}}
					</div>
					<div class="post-preview-subtext">{{ .Description }}</div>
					<div class="post-preview-metadata-container">
						<span class="post-preview-metadata">
							{{ .Date.Format "02/01/2006" }} · {{ T "readingTime" .ReadingTime }}
						</span>
						{{range .Params.tags}}
						<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">#{{ . }}</a>
						{{end}}
					</div>
				</a>
			</section>
			{{end}}

			<div class="centered"><a href="{{ "code/" | absLangURL }}" class="button">{{ T "readMore" }}</a></div>
			
		</div>

		<div class="page-separator centered"><hr></div>	
		
		{{ partial "footer.html" . }}

	</body>
</html>
