<!DOCTYPE html>
<html lang="{{ .Lang }}" data-theme="light">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "navbar" . }}
		
		<div class="layout-container">

			<div class="tags-container"></div>

			<header class="heading-container">
				<h4 class="heading-container-title">{{ .Title }}</h4>
				<em class="heading-container-subtitle">{{ .Description }}</em>
			</header>

			{{ partial "posts_list.html" . }}
		
		</div>

		<div class="page-separator centered"><hr></div>
		
		{{ partial "footer.html" . }}

	</body>
</html>

