<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		<div id="main">

			{{ partial "navbar" . }}

			<div class="container">
				<div class="markdown">
					<h1>{{ .Title }}</h1>
					
					{{ partial "metadata.html" . }}

					{{ partial "social_share.html" . }}
				</div>

				<div class="markdown">
					<p>{{ .Content | safeHTML }}</p>
				</div>

				<div class="page-separator centered"><hr></div>

				{{ template "_internal/disqus.html" . }}
				
				<div class="page-separator centered"><hr></div>

			</div>
			
			{{ partial "footer.html" . }}
			
		</div>
	</body>
</html>

