<div class="article-div">
	<div class="article-wrapper">
		<div class="figure-div">
			{{ if .Params.image }}
			<img src="{{ .Params.image }}" alt="{{ .Params.title }}"/>
			{{ end }}
		</div class="figure-div">
		<div class="article-body">
			<h2>{{ .Params.title }}</h2>
			<span class="post-meta">{{ .Date.Format "02/01/2006" }}</span>
			· 
			<span class="tags-container">
				<img class="tags-icon" src="/images/tags.png" alt="tags">
				{{range .Params.tags}}
				<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
				{{end}}
			</span>
			· 
			<span class="reading-time">{{ T "minutes" .ReadingTime }}</span>
			<p class="article-text">{{ .Params.description }}</p>
			<a class="article-more" href="{{ .Permalink }}" class="read-more">
				Read more
				<svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
				</svg>
			</a>
		</div>
	</div>
</div>