<h2>{{ T "books" }}</h2>
<p>{{  T "reading" }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "READING"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>

<p>{{  T "read" }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "READ"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>

<p>{{  T "queued" }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "QUEUED"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>

<p>{{  T "futures" }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "FUTURES"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>