{{ $data := index .Site.Data .Site.Language.Lang }}

<h2>{{ $data.titles.books }}</h2>
<p>{{ $data.titles.reading }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "READING"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>

<p>{{ $data.titles.read }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "READ"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>

<p>{{ $data.titles.queued }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "QUEUED"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>

<p>{{ $data.titles.futures }}</p>
<ul> 
{{ range .Site.Data.books }}
    {{ if eq .status "FUTURES"}}
    <li>
        <a href="{{.link}}">{{ .title }}</a>
    </li>
    {{end}}
{{ end }}
</ul>