{{ range $i, $el := .Paginator.Pages }}
<section class="post-preview-container">
    <a href="{{ .Permalink }}">
        <div class="post-preview-title-container">
            <h3 class="post-preview-title">{{ .Title }}</h3>
        </div>
        <div class="post-preview-subtext">{{ .Description }}</div>
        <div>
            <span class="post-preview-metadata">
                {{ if ne .Params.Section "/code" }}{{ .Date.Format "02/01/2006" }} · {{ T "readingTime" .ReadingTime }}{{end}}
            </span>
            {{range .Params.tags}}
                <div class="post-preview-tag">#{{ . }}</div>
            {{end}}
        </div>
    </a>
</section>
{{end}}

<div class="page-separator"></div>

{{ template "_internal/pagination.html" . }}

<div class="page-separator centered"><hr></div>