{{ range $.Site.RegularPages }}
{{ if eq .Params.featured true }}
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a href="{{ .Permalink }}" class="featured-post-title">
              {{ .Title }}
            </a>
            <ul class="featured-post-meta">
              <li>
                <i class="fa fa-clock-o"></i>
                {{ .PublishDate.Format "02/01/2006" }}  - {{ T "readingTime" }} {{ T "minutes" .ReadingTime }}
              </li>
            </ul>
          </div>
          <div class="featured-post-thumb">
            {{ with .Params.image }}
            <img src="{{ .  | absURL }}" alt="feature-post-thumb" />
            {{ end }}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}