<footer class="footer">
    <span class="footer_item"> </span>
    &nbsp;

    <div class="footer_social-icons">
        {{- partial "socialIcons.html" site.Params.socialIcons -}}
    </div>
    <small class="footer_copyright">
        <div class="footer-text">{{ T "lastPost" }} {{ .Site.LastChange.Format "02/01/2006" }}</div>
	    <div class="footer-text">© {{ .Site.Params.since }} - {{ now.Year }} {{ .Site.Params.author.name }}</div>
    </small>
</footer>

{{- if .Site.Params.goToTop -}}
<a href="#" title="Go to top" id="totop">
    {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}
