<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="referrer" content="no-referrer">
  <meta name="description" content="{{ T "description" }}">
{{ with .Title | default .Site.Title }}
  <title>{{ . }} | Charly3Pins</title>
{{ end }}
{{ with .Title | default .Site.Title }}
  <meta property="og:title" content="{{ . }} - charly3pins" />
{{ end }}
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:site_name" content="charly3pins.dev">
{{ with  or (.Params.image) (.Site.Params.avatar) | absURL }}  
  <meta property="og:image" content="{{ . }}">
{{ end }}
  <meta name="twitter:card" content="summary_large_image">
{{ with .Title | default .Site.Title }}
  <meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{ end }}
{{ with .Description | default .Content }}
  <meta name="twitter:description" content="{{ . }}">
{{ end }}
{{ with  or (.Params.image) (.Site.Params.avatar) | absURL }}
  <meta name="twitter:image" content="{{ . }}">
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ with .Site.GoogleAnalytics }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ . }}');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
{{ end }}

  <link rel="stylesheet" href="{{ "css/main.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/blog-cards.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/pagination.css" | absURL }}" />
  <script src="{{ "js/site.js" | absURL }}"></script>

</head>