<header class="Site-header js-siteHeader">
	<div class="Header Header--dark">
		<nav class="Header-nav">
			<a class="Header-title" href="{{ .Site.Home.Permalink }}">
				{{ .Site.Title }}
			</a>
			<div class="Header-rightContent">
				<ul class="Header-menu">
					{{ range .Site.Menus.main }}
						<li class="Header-menuItem ">
							{{ if .HasChildren }}
							<a href="{{ .URL | relLangURL }}" class="js-desktop-menu-hover" aria-label="{{ .Name }}" aria-describedby="dropdown-description">
								{{ .Name }} <span>▾</span>
							</a>							
							<ul class="Header-submenu js-desktop-submenu-hover" aria-label="submenu">
								{{ range .Children }}
								<li class="Header-submenuItem">
									<div>
										<a href="{{ .URL | relLangURL }}" aria-label="{{ .Name }}" aria-describedby="dropdown-description">
											{{ .Name }}
										</a>
									</div>
									<p>{{ .Post }}</p>
								</li>
								{{ end }}
							</ul>
							{{ else }}
							<a href="{{ .URL | relLangURL }}" aria-label="{{ .Name }}" aria-describedby="dropdown-description">
								{{ .Name }} 
							</a>
							{{ end }}
						</li>
					{{ end }}
				</ul>
			</div>
		</nav>
	</div>
</header>