{{ $current := . }}
<div class="container">
    <div class="toggle">
        <input type="checkbox">
        <span class="bar"></span><span class="bar"></span><span class="bar"></span>
        <div id="mobile-menu">
            {{ range .Site.Menus.main }}
                {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                {{ $active = or $active (eq .Name $current.Title) }}
                {{ $active = or $active (eq .Name (lower $current.Params.Section)) }}
                {{ $active = or $active (eq (lower .URL) (lower $current.Title)) }}
                {{ $active = or $active (eq (lower .URL) (lower $current.Type)) }}
                <span class="menu-item">
                    <a href="{{ .URL | relLangURL }}" class="{{ if $active }}active{{ end }}">{{ safeHTML .Name }}</a>
                </span>
            {{ end }}
            {{ if .Site.IsMultiLingual }}
            <span class="menu-item">
                <div class="sl-nav">
                    <ul>
                        <li>
                            <b>{{ T (lower .Lang) . }}</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <div class="triangle"></div>
                            <ul>
                            {{ range .Translations }}
                                <a href="{{ .Permalink }}">{{ T (lower (default .Lang .Site.Language.LanguageName)) . }}</a>
                            {{ end}}
                            </ul>
                        </li>
                    </ul>
                </div>
            </span>
            {{ end }}
        </div>
    </div>
    <div id="menu">
        {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (eq .Name (lower $current.Params.Section)) }}
            {{ $active = or $active (eq (lower .URL) (lower $current.Title)) }}
            {{ $active = or $active (eq (lower .URL) (lower $current.Type)) }}
            
            <!-- $current {{$current}}<br>
            ($current.IsMenuCurrent "main" .) {{ ($current.IsMenuCurrent "main" .) }}<br>
            ($current.HasMenuCurrent "main" .) {{ ($current.HasMenuCurrent "main" .) }}<br>
            .Name  {{ .Name }} eq $current.Title  {{ $current.Title }}<br>
            .Name  {{ .Name }} eq lower $current.Params.Section  {{ lower $current.Params.Section }}<br>
            lower .URL  {{ (lower .URL) }} eq lower $current.Title  {{ lower $current.Title }}<br>
            lower .URL  {{ (lower .URL) }} eq lower $current.Type  {{ lower $current.Type }}<br> -->
            <span class="menu-item">
                <a href="{{ .URL | relLangURL }}" class="{{ if $active }}active{{ end }}">{{ safeHTML .Name }}</a>
            </span>
            <!-- <br>
            <br> -->
        {{ end }}
        {{ if .Site.IsMultiLingual }}
        <span class="menu-item">
            <div class="sl-nav">
                <ul>
                    <li>
                        <b style="color:var(--pink);">{{ T (lower .Lang) . }}</b> <i style="color:var(--pink);" class="fa fa-angle-down" aria-hidden="true"></i>
                        <div class="triangle"></div>
                        <ul>
                        {{ range .Translations }}
                            <a href="{{ .Permalink }}">{{ T (lower (default .Lang .Site.Language.LanguageName)) . }}</a>
                        {{ end}}
                        </ul>
                    </li>
                </ul>
            </div>
        </span>
        {{ end }}
    </div>
</div>
