<div class="navbar-container">
    <nav class="navbar-navigation">
        <a href="{{ .Site.Home.Permalink }}" class="capitalize font-extrabold text-2xl">
            {{ .Site.Title }}
        </a>
        <ul class="navbar-list">
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL | relLangURL }}">{{ safeHTML .Name }}</a>
            </li>
            {{ end }}
        </ul>
        <ul class="navbar-list">
            {{ if .Site.IsMultiLingual }}
            <li class="lang-selector">
                <a>{{ i18n "languageSwitcherLabel" }}</a><i class="fa fa-angle-down" aria-hidden="true" style="color:#fcfcfc"></i>
                <ul>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}">{{ T (lower (default .Lang .Site.Language.LanguageName)) . }}</a>
                {{ end}}
                </ul>
            </li>
            {{ end }}
        </ul>
    </nav>
</div>

