
<!-- Sidebar Container -->
<div class="
    col-lg-3 col-lg-offset-0
    col-md-3 col-md-offset-0
    col-sm-12
    col-xs-12
    sidebar-container
">
    <!-- Featured Tags -->
    {{ if .Site.Params.featured_tags }}
    <section>
        <hr class="hidden-sm hidden-xs">
        <h5>FEATURED TAGS</h5>
        <div class="tags">
            {{ $featured_condition_size := .Site.Params.featured_condition_size }} 
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
               {{ if gt (len $taxonomy.Pages) $featured_condition_size }} 
                    <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                        {{ $name }}
                    </a>
               {{ end }} 
            {{ end }}
        </div>
    </section>
    {{ end }}

    <!-- Short About -->
    <section class="visible-md visible-lg">
        <hr><h5>ABOUT ME</h5>
        <div class="short-about">
            {{ with .Site.Params.sidebar_avatar }}
            <img src="{{ . | absURL }}" />
            {{ end }}
            {{ with .Site.Params.sidebar_about_description }}
                <p>{{ . }}</p>
            {{ end }}
        </div>
    </section>
</div>
