<ul class="icons">
    <!-- Twitter -->
    <li>
        {{ $hashtags := delimit .Params.tags "," }}
        <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via=charly3pins&amp;hashtags={{$hashtags}}" target="_blank" class="share-btn twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </li>

    <!-- Facebook -->
    <li>
        <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="share-btn facebook">
            <i class="fa fa-facebook"></i>
        </a>
    </li>

    <!-- Reddit -->
    <li>
        <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" class="share-btn reddit">
            <i class="fa fa-reddit-alien"></i>
        </a>
    </li>

    <!-- LinkedIn -->
    <li>
        <a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" class="share-btn linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>

    <!-- Pintrest -->
    <li>
        <a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" class="share-btn pinterest">
            <i class="fa fa-pinterest-p"></i>
        </a>
    </li>

    <!-- Email -->
    <li>
        <a href="mailto:?subject=Check out this post by {{ .Params.author }}&amp;body={{ .Permalink }}" target="_blank" class="share-btn email">
            <i class="fa fa-envelope"></i>
        </a>
    </li>
</ul>
