<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "header" . }}
		
		<main class="page-content" aria-label="Content">
			<div class="wrapper">
				<h1 class="page-heading">¯\_ (ツ)_/¯ Page not found ¯\_ (ツ)_/¯</h1>
				<div style="text-align: center;">
					<img src="{{ .Site.Params.errorPage }}" alt="site 404 image">
				</div>
				<h2 class="page-heading"><a href="/">Rollback my action →</a></h2>
			</div>
		</main>
		
		{{ partial "footer.html" . }}
	</body>
</html>

