<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "navbar" . }}
		
		<div class="layout-container">

			<section class="blog-container">

				<h4 class="post-title">{{ T "error404" }}</h4>
				
				<article>
					<div class="centered">
						<img src="{{ .Site.Params.errorPage }}" alt="site 404 image">
					</div>
					<div>
						<p class="caption">Gopher per<a href="https://github.com/ashleymcnamara/gophers/blob/master/This_is_Fine_Gopher.png">Ashley McNamara</a></p>
					</div>
					<div class="page-separator"></div>
					<p>{{ T "error404Desc" }}</p>
				</article>

			</section>
				
			<div class="page-separator centered"><hr></div>
			
			{{ partial "footer.html" . }}
			
		</div>
	</body>
</html>

