{{define "main"}}
<header id="contact">
  <nav>
    <div>
      <a href="/" _secondary="">[Home]</a>
      <div>
        <a href="/blog">[Blog]</a>
        <a href="/projects">[Projects]</a>
        <a href="/about">[About]</a>
      </div>
    </div>
  </nav>
  <div id="header-content">
    <div>
      <h1>Get in touch</h1>
      <div>
        <div class="contact-head">
          <a href="https://twitter.com/charly3pins" target="_blank"
            >[Twitter ↗]</a
          >
          <span>@charly3pins</span>
        </div>
        <div class="contact-body">
          <p>
            Lately I am not as active as I was before, but I publish/repost
            sometimes...
          </p>
        </div>
      </div>
      <div>
        <div class="contact-head">
          <a href="https://github.com/charly3pins" target="_blank"
            >[GitHub ↗]</a
          >
          <span>@charly3pins</span>
        </div>
        <div class="contact-body">
          <p>Where the magic happens</p>
        </div>
      </div>
      <div>
        <div class="contact-head">
          <a href="https://www.youtube.com/@charly3pins" target="_blank"
            >[YouTube ↗]</a
          >
          <span>@charly3pins</span>
        </div>
        <div class="contact-body">
          <p>A project that I started and someday I will resume</p>
        </div>
      </div>
      <div class="contact-body">
        <div class="contact-head">
          <a href="mailto:hello@charly3pins.dev">[Email ↗]</a>
          <span>hello@charly3pins.dev</span>
        </div>
        <div class="contact-body">
          <p>If you want to say Hi via email</p>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}
