<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		{{ partial "header" . }}
		
		<main class="page-content" aria-label="Content">
			<div class="wrapper">
				<div class="home">
					<div class="container">
						<div class="row">
							<div class="col">
								<h1 class="page-heading">Hey! I'm Charly3pins</h1>
							</div>
							<div class="col">
								<figure>
									<img class="face" src="{{ .Site.Params.avatar }}" alt="That's me!">
									<figcaption><i>{{ T "description" }}</i></figcaption>
								</figure>
							</div>
						</div>
					</div>
					<h2 class="page-heading"><a href="/blog">Latest blog posts</a></h2>
					<div class="post-content">
						<div class="blog">
							<ul class="post-list">
								{{range $i,$el := first 3 (where .Paginator.Pages ".Section" "blog")}}
								<li>
									<h3 class="blog-header">
										<a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
										<span class="post-meta">{{ .Date.Format "02/01/2006" }}</span>
										<div class="tags-container">
											<img class="tags-icon" src="/images/tags.png" alt="tags">
											{{range .Params.tags}}
											<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
											{{end}}
										</div>
									</h3>
									{{ .Description }}
								</li>
								{{ end }}
							</ul>
						</div>
					</div>
					<h2 class="page-heading"><a href="/blog">Latest project posts</a></h2>
					<div class="post-content">
						<div class="blog">
							<ul class="post-list">
								{{range $i,$el := first 3 (where .Paginator.Pages ".Section" "projects")}}
								<li>
									<h3 class="blog-header">
										<a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
										<span class="post-meta">{{ .Date.Format "02/01/2006" }}</span>
										<div class="tags-container">
											<img class="tags-icon" src="/images/tags.png" alt="tags">
											{{range .Params.tags}}
											<a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
											{{end}}
										</div>
									</h3>
									{{ .Description }}
								</li>
								{{ end }}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>

		{{ partial "footer.html" . }}

	</body>
</html>
