{{define "main"}}

<div class="main-content">
  <div>
    <img
      src="{{ .Site.Params.Home.ImageURL | absURL }}"
      width="250px;"
      title="{{ .Site.Params.Home.ImageTitle }}"
    />
  </div>

  <br />

  <code>
    <span>
      <span style="color: #b392f0">fmt.Println</span>
      <span style="color: #e1e4e8">(</span>
      <span style="color: #9ecbff">"Welcome to <b>{{ .Site.Title }}</b>!"</span>
      <span style="color: #e1e4e8">);</span>
    </span>
    <span class="line"></span
  ></code>

  <br />
  <br />

  <h3>What do I do?</h3>

  <ul>
    <li>
      <a href="/blog">Writing articles</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@charly3pins" target="_blank"
        >Coding Tutorials</a
      >
    </li>
    <li>
      <a href="/projects">Hacking things</a>
    </li>
    <li>
      <a href="/library">Reading books</a>
    </li>
    <li>
      <a href="https://github.com/charly3pins" target="_blank">And more…</a>
    </li>
  </ul>

  <br />
  <br />

  <h3>Latest releases</h3>

  {{range $i,$el := first 3 (where .Paginator.Pages ".Section" "blog")}}
  <div class="post-item">
    <h4><a class="link" href="{{.Permalink}}">{{.Title}}</a></h4>
    <p>{{ .Description }}</p>
  </div>

  <br />
  {{end}}

  <a href="/blog">> Read all releases</a>
</div>

{{end}}

