<!DOCTYPE html>
<html lang="{{ .Lang }}">
	
	{{ partial "head.html" . }}

	<body>
		<div id="main">

			{{ partial "navbar" . }}

			<div class="container">
				
				<div class="index-content">
					<div id="avatar-box">
						<img id="avatar" src="{{ .Site.Params.avatar }}" alt="site author photo">
					</div>
					<h1>
						<strong class="welcome">{{ T "welcome" }}</strong>
					</h1>
					<p>{{ T "indexDescription" }}</p>
				</div>
			</div>

			<div class="page-separator centered"><hr></div>	

			<div class="container grid">
				{{range first 6 (where .Paginator.Pages ".Params.category" "technology")}}
				<div class="card">
					<a href="{{ .Permalink }}">
						<div class="card-banner">
							<p class="category-tag technology">{{ T .Params.category }}</p>
							<img class="banner-img" src="{{ .Params.image | absURL }}" alt="cover image">
						</div>
						<div class="card-body">
							<h2 class="blog-title">{{ .Title }}</h2>
							{{ partial "metadata_index.html" . }}
							<p class="blog-description">{{ .Description }}</p>
							<a class="blog-description" href="{{ .Permalink }}">{{ T "readMore" }}...</a>
						</div>
					</a>
				</div>
				{{ end }}

				<div class="page-separator centered"><hr></div>	
				
				<div class="centered"><a href="{{ "blog/" | absLangURL }}" class="button" id="blog-cta">{{ T "readMore" }}</a></div>
				
				<div class="page-separator centered"><hr></div>	

				<div class="twitter">
					<a class="twitter-timeline" data-height="600" href="https://twitter.com/charly3pins">Tweets by charly3pins</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

			</div>

			<div class="page-separator centered"><hr></div>	
			
			{{ partial "footer.html" . }}
			
		</div>
	</body>
</html>

