<div class="hero" data-v-47f48086="" data-v-80f09ed0="">
  <div class="container hero__content" data-v-47f48086="">
    <h1 class="hero__intro" data-v-47f48086="">{{ .Site.Params.indexTitle }}
    <p>{{ .Site.Params.indexSubtitle }}</p>
    <ul class="featured-post-meta" style="list-style-type: none;">
      <li>
          <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" style="background-color: #007d9c;">
              <path d="M10.8519 0.52594L3.89189 7.10404L1.14811 4.51081L0 5.59592L3.89189 9.27426L12 1.61105L10.8519 0.52594Z" fill="white" fill-opacity="0.87">
              </path>
          </svg>
          {{ .Site.Params.indexSubTitleGo }}
      </li>
      <li>
          <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" style="background-color: #007d9c;">
              <path d="M10.8519 0.52594L3.89189 7.10404L1.14811 4.51081L0 5.59592L3.89189 9.27426L12 1.61105L10.8519 0.52594Z" fill="white" fill-opacity="0.87">
              </path>
          </svg>
          {{ .Site.Params.indexSubTitleSE }}
      </li>
      <li>
          <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg" style="background-color: #007d9c;">
              <path d="M10.8519 0.52594L3.89189 7.10404L1.14811 4.51081L0 5.59592L3.89189 9.27426L12 1.61105L10.8519 0.52594Z" fill="white" fill-opacity="0.87">
              </path>
          </svg>
          {{ .Site.Params.indexSubTitleProjects }}
      </li>
  </ul>
  <p>{{ .Site.Params.indexSubTitleEmail }} <strong><a href="mailto:{{ .Site.Author.email }}" style="color:#ffdd00;">{{ .Site.Author.email }}</a></strong></p>
</h1>
  </div>
  <!-- <div class="waves" data-v-47f48086="">
    <div class="wave" data-v-47f48086=""></div>
    <div class="wave-shadow" data-v-47f48086=""></div>
  </div> -->
</div>