<div class="home-archive" data-v-03dac6df="" data-v-80f09ed0="">
    <div class="container" data-v-03dac6df="">
        <h2 class="h1" data-v-03dac6df="">{{ T "indexHeadingBlog" }}</h2>
        <div class="home-archive__list" data-v-03dac6df="">
            {{ range $i, $el := first 4 (where .Paginator.Pages ".Section" "blog") }}
            <a href="{{ .Permalink }}" rel="noopener" class="archive-item" data-v-686bf5b7="" data-v-03dac6df="">
                <div class="archive-item__img" data-v-686bf5b7="">
                    <img src="{{ .Params.image }}" alt="" width="280" height="280" loading="lazy" data-v-686bf5b7="">
                </div>
                <!-- <div class="archive-item__issue" data-v-686bf5b7="">
                    <div class="archive-item__issue-label" data-v-686bf5b7="">
                        — Nº —
                    </div>
                    <div class="archive-item__issue-figure" data-v-686bf5b7="">
                        issue-nº
                    </div>
                </div> -->
                <div class="archive-item__info" data-v-686bf5b7="">
                    <h3 class="archive-item__title" data-v-686bf5b7="">{{ .Title }}</h3>
                    <!----> 
                    <div class="archive-item__date" data-v-686bf5b7="">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-calendar-alt fa-w-14" data-v-686bf5b7="">
                            <path fill="currentColor" d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z" data-v-686bf5b7="" class=""></path>
                        </svg>
                        {{ .PublishDate.Format "02/01/2006" }}
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
        <div class="home-archive__cta" data-v-03dac6df="">
            <a href="{{ "/blog" | relLangURL }}" class="btn-secondary" data-v-03dac6df="">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-plus-circle fa-w-16" data-v-03dac6df="">
                    <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z" data-v-03dac6df="" class=""></path>
                </svg>
                {{ T "seeAllPosts" }}
            </a>
        </div>
    </div>
</div>