<div class="readings" data-v-234eaef6="" data-v-80f09ed0="">
    <div class="container" data-v-234eaef6="">
        <h2 class="h1" data-v-234eaef6="">{{ T "currentlyReading"}}</h2>
        <div class="readings__list" data-v-234eaef6="">
            <a href="https://amzn.to/3TgWORq" rel="noopener" class="readings__item" data-v-234eaef6="">
                <div class="readings__img" data-v-234eaef6=""><img src="https://m.media-amazon.com/images/I/81bSa9px6qL._SL1500_.jpg" alt="" data-v-234eaef6=""></div>
                <div class="readings__content" data-v-234eaef6="">
                    <p>Software Engineering at Google: Lessons Learned from Programming Over Time</p>
                    <p>Titus Winters, Tom Manshreck, Hyrum Wright</p>
                </div>
            </a>
            <a href="https://amzn.to/3IEvibx" rel="noopener" class="readings__item is—manfred" data-v-234eaef6="">
                <div class="readings__img" data-v-234eaef6=""><img src="https://m.media-amazon.com/images/I/61JKEWnsikL._SL1500_.jpg" alt="" data-v-234eaef6=""></div>
                <div class="readings__content" data-v-234eaef6="">
                    <p>Las 48 leyes del poder</p>
                    <p>Greene, Joost Elffers</p>
                </div>
            </a>
            <a href="https://amzn.to/3TD3jPG" rel="noopener" class="readings__item is—manfred" data-v-234eaef6="">
                <div class="readings__img" data-v-234eaef6=""><img src="https://m.media-amazon.com/images/I/81ZMvLDtmIL._SL1500_.jpg" alt="" data-v-234eaef6=""></div>
                <div class="readings__content" data-v-234eaef6="">
                    <p>The Phoenix Project: A Novel about IT, DevOps, and Helping Your Business Win</p>
                    <p>Gene Kim, Kevin Behr, George Spafford</p>
                </div>
            </a>
        </div>
        <div class="home-archive__cta" data-v-03dac6df="">
            <a href="{{ "/readings" | relLangURL }}" class="btn-secondary" data-v-03dac6df="">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-plus-circle fa-w-16" data-v-03dac6df="">
                    <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z" data-v-03dac6df="" class=""></path>
                </svg>
                {{ T "seeAllReadings" }}
            </a>
        </div>
    </div>
</div>